body{
    background: linear-gradient(70deg,rgb(218, 218, 99),rgb(241, 143, 241));
}
.image-box{
    position: relative;
    background:rgb(219, 219, 137); 
    width: 300px;
    height: 500px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}
img{
    margin-right: 7%;
    margin-top: 30%;
}
.content-box{
    position: relative;
    width: 600px;
    height: 500px;
    background-color: azure;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
section{
    display: flex;
    margin-left: 15%;
    margin-top: 6%;
}
header{
    margin-left: 400px;
    margin-top: 20px;
}
h2{
    margin-left: 20%;
    margin-top: 70px;
}
.button{
    background-color:rgb(20, 20, 241);
    color: rgb(245, 240, 234);
    padding: 5px;
    margin-left: 20%;
    margin-bottom: 15%;
    border-radius: 5px;
    width: 30%;
}
.fa-google{
    color: blanchedalmond;
    text-decoration: none;
    margin-right: 30%;
    margin-top: 10%;
}
.fa-twitter{
    color: rgb(48, 45, 45);
    text-decoration: none;
    margin-left: 3%;
    display: inline-block;
    background-color: rgb(201, 198, 198);
    padding: 10px;
}
.fa-facebook{
    color: rgb(48, 45, 45);
    text-decoration: none;
    margin-left: 5%;
    display: inline-block;
    background-color: rgb(201, 198, 198);
    padding: 11px;
}
a{
    margin-right: 5%;
}
.primary-info{
    margin-left: 20%;
}
.passwords{
    margin-left: 20%;
}
.check{
    margin-left: 20%;
}
.account{
    margin-left: 20%;
    background-color: rgb(202, 20, 20);
    border-radius: 5px;
    padding: 5px;
}